
@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<h2>Lista de Usuarios</h2>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Password</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Jason</td>
                            <td>Jackson</td>
                            <td>----</td>
                            <td>-----</td>
                            <td>-----</td>
                            <td>----</td>
                            <td>-----</td>
                            <td>-----</td>
                            <td>
                                <button type="button" class="btn btn-primary">Modificar</button>
                                <button type="button" class="btn btn-danger">Dar de Baja</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>George</td>
                            <td>Spelbeart</td>
                            <td>------</td>
                            <td>------</td>
                            <td>------</td>
                            <td>------</td>
                            <td>------</td>
                            <td>------</td>
                            <td>
                                <button type="button" class="btn btn-primary">Modificar</button>
                                <button type="button" class="btn btn-danger">Dar de Baja</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Thor</td>
                            <td>Chaman</td>
                            <td>------</td>
                            <td>------</td>
                            <td>------</td>
                            <td>------</td>
                            <td>------</td>
                            <td>------</td>
                            <td>
                                <button type="button" class="btn btn-primary">Modificar</button>
                                <button type="button" class="btn btn-danger">Dar de Baja</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

    

